:root {
  --font-color: #1E2649;
  --white: #FFFFFF;
  --black: #000000;
  --green: #25A665;
  --violet: #3B4B91;
  --lightgray: #D9D9D9;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/inter-v18-cyrillic_latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/inter-v18-cyrillic_latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/inter-v18-cyrillic_latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v18-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/inter-v18-cyrillic_latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/manrope-v15-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* manrope-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/manrope-v15-cyrillic_latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-cyrillic_latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/noto-serif-v23-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* noto-serif-italic - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/noto-serif-v23-cyrillic_latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--font-color);
  background-color: var(--white);
}

.wrapper {
  width: 100%;
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 0.625rem;
}

a {
  transition: all 0.2s;
}
a:hover {
  transition: all 0.2s;
}

:root {
  --font-color: #1E2649;
  --white: #FFFFFF;
  --black: #000000;
  --green: #25A665;
  --violet: #3B4B91;
  --lightgray: #D9D9D9;
}

.header {
  background: linear-gradient(180deg, #34427f 0%, rgba(52, 66, 127, 0.84) 53.87%, rgba(52, 66, 127, 0) 100%), url("../images/home.webp") top center/cover no-repeat;
  padding: 24px 0 225px;
  width: 100%;
  height: 808px;
}

.head {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--white);
  padding-bottom: 24px;
}
@media (max-width: 768px) {
  .head {
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}
.head__logo {
  display: block;
  text-align: center;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--white);
}
@media (max-width: 768px) {
  .head__logo {
    margin-bottom: 15px;
  }
}
.head__logo:hover {
  color: var(--lightgray);
}
.head__logo p:first-child {
  font-family: "Noto Serif", sans-serif;
  font-size: 1.56rem;
  line-height: 150%;
  letter-spacing: 0.05em;
}
.head__logo p:last-child {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 150%;
  letter-spacing: 0.05em;
}
.head__description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--white);
  letter-spacing: 0.05em;
}
@media (max-width: 992px) {
  .head__description {
    display: none;
  }
}
.head__email {
  font-size: 1rem;
  font-weight: 400;
  line-height: 130%;
  color: var(--white);
}
.head__email a {
  color: var(--white);
  text-decoration: none;
}
.head__email a:hover {
  color: var(--lightgray);
}
@media (max-width: 768px) {
  .head__vk {
    display: none;
  }
}
.head__vk svg path {
  transition: all 0.2s;
}
.head__vk:hover svg path {
  fill-opacity: 0.8;
  transition: all 0.2s;
}
.head__contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
}
.head__contacts p a {
  color: var(--white);
  text-decoration: none;
}
.head__contacts p a:hover {
  color: var(--lightgray);
}
.head__contacts:first-child {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--white);
  text-transform: uppercase;
}
.head__contacts:last-child .head-worktime {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 130%;
  color: var(--font-color);
  color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin-right: 8px;
}
.head__contacts:last-child .head-callme {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
}
.head__contacts:last-child .head-callme:hover {
  color: var(--lightgray);
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 0px 140px 0px;
  margin: 0 auto;
  color: #fff;
  max-width: 1176px;
}
.header-info h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 110%;
  text-align: center;
  margin-bottom: 32px;
}
@media (max-width: 576px) {
  .header-info h1 {
    font-size: 2.5rem;
  }
}
.header-info__description {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 130%;
  text-align: center;
  margin-bottom: 48px;
}
@media (max-width: 576px) {
  .header-info__description {
    font-size: 1.2rem;
  }
}
.header-info__action-button {
  display: block;
  border-radius: 50px;
  padding: 24px 56px;
  width: 270px;
  height: 72px;
  background: #25a665;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  white-space: nowrap;
}
.header-info__action-button:hover {
  background: #198d53;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 120px;
  padding: 120px 10px 56px;
}

.footer-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .footer-info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}

.footer-navigation {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 622px;
  width: 100%;
}
@media (max-width: 576px) {
  .footer-navigation {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

.footer-logo {
  display: block;
  text-decoration: none;
}
@media (max-width: 576px) {
  .footer-logo {
    width: 100%;
  }
}
.footer-logo:hover {
  filter: brightness(50%);
}
.footer-logo h2 {
  font-family: "Noto Serif", sans-serif;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #3b4b91;
}
.footer-logo p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 0.94rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-align: center;
  color: #3b4b91;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-menu li:not(:last-child) {
  margin-bottom: 24px;
}
@media (max-width: 576px) {
  .footer-menu li {
    text-align: center;
  }
}
.footer-menu li a {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  color: #3b4b91;
  text-decoration: none;
}
.footer-menu li a:hover {
  color: #212d63;
}

.footer-contacts {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  max-width: 405px;
  width: 100%;
}
.footer-contacts svg {
  transition: all 0.2s;
}
.footer-contacts svg:hover {
  filter: brightness(120%);
  transition: all 0.2s;
}

.footer-contact-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-contact-links__phone {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 130%;
  margin-bottom: 8px;
}
.footer-contact-links__phone a {
  color: #3b4b91;
  text-decoration: none;
}
.footer-contact-links__phone a:hover {
  filter: brightness(130%);
}
.footer-contact-links__callme {
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  margin-bottom: 18px;
}
.footer-contact-links__callme a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #3b4b91;
}
.footer-contact-links__callme a:hover {
  filter: brightness(130%);
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 576px) {
  .copyright {
    flex-wrap: wrap;
    gap: 20px;
  }
}
.copyright p {
  font-size: 1rem;
  line-height: 130%;
  color: #65709e;
}
.copyright a {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #65709e;
}
.copyright a :hover {
  filter: brightness(70%);
}

.top-menu {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  margin: 0 auto;
  backdrop-filter: blur(23.3999996185px);
  background: rgba(255, 255, 255, 0.17);
  width: fit-content;
  height: 72px;
  z-index: 999;
}
@media (max-width: 768px) {
  .top-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    height: auto;
    margin: auto;
    transform: translateX(150%);
    transition: all 0.3s;
  }
  .top-menu.active {
    transform: translateX(0);
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.7);
  }
}
.top-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0;
}
@media (max-width: 768px) {
  .top-menu ul {
    flex-direction: column;
  }
}
.top-menu ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  padding: 16px 24px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 768px) {
  .top-menu ul li {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
}
.top-menu ul li:last-child {
  border: none;
}
.top-menu ul li a {
  color: #fff;
  text-decoration: none;
}
.top-menu ul li a:hover {
  color: var(--lightgray);
}

.top-menu-button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  backdrop-filter: blur(23.3999996185px);
  background: rgba(0, 0, 0, 0.7);
  padding: 0 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1000;
}
@media (min-width: 768px) {
  .top-menu-button {
    display: none;
  }
}
.top-menu-button div:nth-child(1) {
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: var(--white);
  transition: all 0.3s;
  transform-origin: 50%;
}
.top-menu-button div:nth-child(2) {
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: var(--white);
  transition: all 0.3s;
  transform-origin: 50%;
}
.top-menu-button div:nth-child(3) {
  position: absolute;
  width: 70%;
  height: 1px;
  background-color: var(--white);
  transition: all 0.3s;
  transform-origin: 50%;
}
.top-menu-button div:first-child {
  transform: translateY(-9px);
}
.top-menu-button div:last-child {
  transform: translateY(9px);
}
.top-menu-button.active div:first-child, .top-menu-button.active div:last-child {
  transform: rotateZ(45deg) translateY(0);
  transition: all 0.3s;
}
.top-menu-button.active div:nth-child(2) {
  transform: rotateZ(-45deg);
  transition: all 0.3s;
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}
.about__values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 67px;
  padding: 50px 0px;
  width: 100%;
}
.about__values li {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}
@media (max-width: 768px) {
  .about__values li {
    width: 140px;
  }
}
.about__values li .description {
  font-size: 1.25rem;
  line-height: 140%;
  text-align: center;
  color: #3b4b91;
}
@media (max-width: 768px) {
  .about__values li .description {
    font-size: 0.9rem;
  }
}
.about__values li .value {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  color: #25a665;
}
@media (max-width: 768px) {
  .about__values li .value {
    font-size: 1.7rem;
  }
}
.about__description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 17px;
  width: 100%;
  padding: 70px 0px;
}
@media (max-width: 1200px) {
  .about__description {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .about__description {
    flex-direction: column;
  }
}
.about__description-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
  max-width: 503px;
}
.about__description-text h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  color: #3b4b91;
}
.about__description-text h2 span {
  color: #25a665;
}
@media (max-width: 576px) {
  .about__description-text h2 {
    font-size: 2rem;
  }
}
.about__description-text p {
  color: #1e2649;
}
@media (max-width: 576px) {
  .about__description-text p {
    font-size: 1rem;
  }
}
.about__description-text .about__readmore {
  border-radius: 50px;
  padding: 16px 32px;
  width: 204px;
  height: 56px;
  background: #25a665;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  padding: 16px 32px;
  width: 204px;
  height: 56px;
  white-space: nowrap;
}
.about__description-text .about__readmore:hover {
  background: #198d53;
}
.about__description-gallery {
  max-width: 770px;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  padding: 120px 0px;
  width: 100%;
}
.partners h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  color: #3b4b91;
}
.partners__items {
  max-width: 1290px;
}

.services {
  padding: 120px 0px;
  background: #f5f7fa;
}
.services > h2 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  color: #3b4b91;
  margin-bottom: 48px;
  padding: 0 10px;
}
@media (max-width: 768px) {
  .services > h2 {
    font-size: 2rem;
  }
}
.services > h2 span {
  color: #25a665;
}

.services-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 32px;
  column-gap: 30px;
}
@media (max-width: 992px) {
  .services-items {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .services-items {
    grid-template-columns: 1fr;
  }
}
.services-items__item {
  border-radius: 15px;
  padding: 32px;
  box-shadow: 0 25px 58px 0 rgba(88, 110, 202, 0.06);
  background: #fff;
}
.services-items__item svg {
  margin-bottom: 16px;
}
.services-items__item h3 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  text-transform: uppercase;
  color: #3b4b91;
  margin-bottom: 16px;
}
.services-items__item p {
  font-size: 1.25rem;
  line-height: 140%;
  color: #1e2649;
}/*# sourceMappingURL=style.css.map */